{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="content" content="Track your daily expenses">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Expense Tracker</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
      <a class="navbar-brand" href="#">
          <img src="{% static 'images/det.png' %}" width="30" height="30" class="d-inline-block align-top"
             alt="">
        <h10 style="color: white"> DET</h10>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" style="margin-left: 10%" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" style="color: white" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color: white" href="#">Expenses</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color: white" href="#">Lending</a>
          </li>
        </ul>
          <img src="{% static 'images/img_avatar.png' %}" alt="Avatar" style="margin-left: 50%; border-radius: 50%; width: 3%; height: 3%">
          <label class="my-2" style="margin-left: 1%; color: white" id="usernamehome">Utkarsh Kumar Srivastava</label>
      </div>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" style="margin-left: 15%" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          </button>
          <div class="dropdown-menu dropdown-menu-lg-right" style="text-align: center" aria-labelledby="dropdownMenu2">
            <button class="dropdown-item" type="button">Personal</button>
            <button class="dropdown-item" type="button">Account</button>
            <form action="signout" method="post">
                {% csrf_token %}
                <button class="dropdown-item" name="signout" type="submit">Sign Out</button>
            </form>
          </div>
        </div>
    </nav>
    {% block content %}

    {% endblock %}
</body>
</html>